.girls-initial{
    /* width: 0; 
    height: 0; 
    /* border-bottom: 50px solid transparent;  
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;  */
}

