
/* services & quality */
.servicesQuality{
    display: grid;
    justify-items: center;
    justify-content: center;
}

.servicesQuality img{
    width: 200px;
}
.servicesQuality p{
    text-align: center;
}

.titleServiceQuality{
    font-size: 4vw;
    padding: 0 30%;
    font-weight: 700;

}
.textServiceQuality{
    padding: 0 20%;
}

.banner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 10px;
}


@media screen and (max-width:830px) {

    
    .banner{
        display: contents;
    }
    
}